body{
    background-color: #0e0e0e;
}

.link-figura {
  text-decoration: none;
  color: black;
}

.hover-card:hover {
  background-color: black;
  transition: all 0.5s;
}

.btn-color {
  background-color: #0e0e0e;
  color: white;
}

.btn-color:hover {
  background-color: grey;
  color: #0e0e0e;
  transition: all 0.5s;
  opacity: 0.7;
}
